<% include partials/header %>

<div class="row">
    <div class="col-md-12">
        <form action="/forget" method="POST">
            <legend>Forget Password</legend>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" autofocus class="form-control">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Reset">
            </div>
        </form>
    </div>

</div>

<% include partials/footer %>